.dashboard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card1 {
  background: #2564ebc8;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card2 {
  background: #16a34ac9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.card3 {
  background: #dc2626da;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  height: fit-content;
}


.card1,.card2,.card3 h3,p {
  color: #ffffff;
  margin-bottom: 10px;
}

.card1 img,.card2 img,.card3 img{
  height: 50px;
  width: 50px;
  float: right;
}

.card h1 {
  font-size: 36px;
}

.issues-table {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  table-layout: fixed; 
}

thead {
  background: #000000;
  color: white;
}

th, td {
 padding: 12px;
  border-bottom: 1px solid #e2e8f0;
  text-align: left;
  vertical-align: middle; 
  word-wrap: break-word;
}

th:hover {
  color: #ff6f61;
  cursor: pointer;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.High { background: #fee2e2; color: #dc2626; }
.Medium { background: #fef3c7; color: #d97706; }
.Low { background: #dcfce7; color: #16a34a; }

.status.Open { color: #2563eb; font-weight: 600; }
.status.In\ Progress { color: #f59e0b; font-weight: 600; }
.status.Completed { color: #16a34a; font-weight: 600; }