.add-issue-wrapper {
  display: flex;
  justify-content: center;   
  align-items: center;       
  min-height: 80vh;          
}

.add-issue-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  width: 500px;
}

h2 {
  margin-bottom: 15px;
  color: #ff6f61;
}

form{
    height: 600px; 
    line-height: 30px;
}

.form-group {
  margin-bottom: 12px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

button {
  margin-top: 10px;
  padding: 10px 16px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
