<div class="layout">

  <div class="sidebar" [class.closed]="!isSidebarOpen">
    <h2 style="color: #ff6f61;">Developer Panel</h2>

    <a routerLink="/developer">
      <img src="/dashboard.png" alt=""> <span>Dashboard</span>
    </a>

    <a routerLink="/developer/my-issues">
      <img src="/task.png" alt=""> <span>My Issues</span>
    </a>
  </div>

  <div class="content">

    <div class="navbar">
      <button class="menu-btn" (click)="toggleSidebar()">☰</button>

      <h3>Welcome Developer👋!</h3>

      <div class="user-menu">
        <img src="/user.png" alt="User" (click)="toggleMenu()" />

        <div class="dropdown" *ngIf="showMenu">
          <a (click)="viewProfile()">👤 View Profile</a>
          <a (click)="logout()">🚪 Logout</a>
        </div>
      </div>
    </div>

    <div class="page">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>

