.layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 190px;
  background: #000000;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar a {
   display: flex;             
  align-items: center;        
  gap: 10px;                  
  color: white;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 6px;
  margin: 6px 0;
  font-size: 15px;
  line-height: 100px;
}

.sidebar a:hover {
  color: #ff6f61;
}

.sidebar img {
  width: 35px;               
  height: 35px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  background: white;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.page {
  padding: 20px;
  background: #f8fafc;
  flex: 1;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.user-menu img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 150px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.dropdown a:hover {
  background: #f1f5f9;
}

span{
  color: #ff6f61;
  font-weight: bold;
}