<h2>User Management 👤</h2>

<div class="filters">
  <input type="text" placeholder="Search name..." [(ngModel)]="searchText">
   <button class="btn-add" (click)="openAddUser()">➕ Add User</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of paginatedUsers; trackBy: trackByUserId">
      <td>{{ user.userId }}</td>
      <td>{{ user.user_name }}</td>
      <td>{{ user.user_email }}</td>
      <td>
        <span *ngIf="user.is_active" class="active">Active</span>
        <span *ngIf="!user.is_active" class="inactive">Inactive</span>
      </td>
      <td>
        <button class="btn-view" (click)="openView(user)">View</button>
        <button class="btn-edit" (click)="openEdit(user)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination">

  <button (click)="prevPage()" [disabled]="currentPage === 1">
    Prev
  </button>

  <button 
    *ngFor="let page of pageNumbers" 
    (click)="goToPage(page)"
    [class.active]="currentPage === page">
    {{ page }}
  </button>

  <button (click)="nextPage()" [disabled]="currentPage === totalPages">
    Next
  </button>

</div>


<div class="modal" *ngIf="showAddUser">
  <div class="modal-content">
    <h3>Add User 👤</h3>

    <label>Name</label>
    <input [(ngModel)]="newUser.user_name" required>

    <label>Email</label>
    <input [(ngModel)]="newUser.user_email" required>

    <label>Password</label>
    <input type="password" [(ngModel)]="newUser.password" required>

    <label>Role</label>
    <select [(ngModel)]="newUser.role_id">
      <option [value]="1">Admin</option>
      <option [value]="2">Developer</option>
    </select>

    <label>Status</label>
    <select [(ngModel)]="newUser.is_active">
      <option [value]="true">Active</option>
      <option [value]="false">Inactive</option>
    </select>

    <div class="modal-actions">
      <button (click)="addUser()">Save</button>
      <button (click)="closeAddUser()">Cancel</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showView">
  <div class="modal-content">
    <h3>View User 👁️</h3>
    <p><b>ID:</b> {{ selectedUser.userId }}</p>
    <p><b>Name:</b> {{ selectedUser.user_name }}</p>
    <p><b>Email:</b> {{ selectedUser.user_email }}</p>
    <p><b>Status:</b> {{ selectedUser.is_active ? 'Active' : 'Inactive' }}</p>
    <button (click)="closePopup()">Close</button>
  </div>
</div>

<div class="modal" *ngIf="showEdit">
  <div class="modal-content">
    <h3>Edit User ✏️</h3>

    <input [(ngModel)]="selectedUser.user_name">
    <input [(ngModel)]="selectedUser.user_email">

    <select [(ngModel)]="selectedUser.is_active">
      <option [value]="true">Active</option>
      <option [value]="false">Inactive</option>
    </select>

    <div class="modal-actions">
      <button (click)="saveEdit()">Update</button>
      <button (click)="closePopup()">Cancel</button>
    </div>
  </div>
</div>

